body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.ico") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

div.left-nav {
	float:left;
	width:25%;
	padding:0px 0px 0px 0px;
}

div.left-nav a {
	text-decoration:none;
}

div.content {
	float:left;
	width:75%;
	padding:0px;
}

div.reportcontent {
	float:left;
	width:100%;
	padding:5px;
}

.clear {
	float:none;
	clear:both;	
}

table > thead > tr{
	border-bottom:1px solid #ddd !important;
}
table > tr.totalFoot{
	border-bottom:1px solid #ddd !important;
}
table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td, table > tr > td {
  font-family: arial;
  font-size: 12px;
  vertical-align: middle;
  font-family: arial;
  color: #000000;
}

p.head {
  color: #000000 !important;
  font-family: arial!important;
  font-size: 20px !important;
  font-weight: bold !important;
  letter-spacing: 0 !important;
  line-height: 23px !important;
}
p.Subhead {
  font-family:arial !important;
  font-size: 14px !important;
  font-weight: 200 !important;
  margin-top: 11px !important;
}
.Subhead1{
	font-family:arial !important;
	font-size: 12px !important;
}
.fotterText{
	background:#ddd;
	color:#000;
	font-family:arial !important;
    font-size: 13px !important;
	font-weight:bold;
}
.hidden{
	display:block;
}